.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
}

.tetris-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
*{
  user-select: none;
}

.board-row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border: 1px solid #ccc;
  user-select: none;
}

.cell.filled {
  background-color: blue;
}

.next-piece {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.next-piece .board {
  grid-template-rows: repeat(1, 30px);
  grid-template-columns: repeat(1, 30px);
}
